/* Container Styles */

body {
  font-family: 'Source Sans Pro', showcard-gothic;
  font-size: 1.2em;
  word-spacing: .2em;
}
section {
  background: grey;
  padding: 10px;
  border-radius: 0px 0px 15px 15px;
}

/* Navigation Styling */

#main-nav {
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 1000;
}
#main-nav nav, ul {
  display: inline-block;
  padding: 0;
}
#main-nav a {
  border: 5px solid black;
  padding: 8px;
  transition: .3s;
}
nav > ul > li {
  float: left;
  list-style-type: none;
  padding: 12px;
  font-size: 1.4em;
}

/* Content Styling */

h1 {
  text-align: center;
  font-size: 3em;
  letter-spacing: .08em;
  text-decoration: overline;
}
h2 {
  color: #FF0000;
}
a {
  color: #FF0000;
}
